.profile-photo{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 10px;
}

.bg-arts-image{
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.embed-container{ 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto; 
} 

.embed-container iframe, .embed-container object, .embed-container embed{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

#photoshop-examples{
	margin-bottom: 20px;
}

#cert-image{
	max-width: 300px;
}

#smaller-sidebar {
	width: auto !important;
	position: inherit;
}

#smaller-main {
    width: auto !important;
	z-index: 1;
  }

#last-project{
	border-bottom: none !important;
}